<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.himanshu.myapplication">


    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permisson.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.CHANGE_WIFI_STATE"
        android:required="true" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyBp8_UTzIw_Y7fVDDy12IVMb4SZfiM-Qms"/>
        <activity
            android:name=".avBar"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".BTAcceptService"
            android:exported="false" />

        <activity android:name=".GalleryTags" />
        <activity android:name=".Neighbors" />
        <activity
            android:name=".ShowReceivedImages"
            android:label="@string/title_activity_show_received_images"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".CameraActivity" />
        <activity android:name=".ReceivedFileDetails" />
        <activity android:name=".DetailsActivity" />

        <receiver android:name=".ReceiverBroadcast">
            <intent-filter>
                <action android:name="android.bluetooth.device.action.ACL_CONNECTED" />
                <action android:name="android.bluetooth.device.action.ACL_DISCONNECTED" />
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.wifi.WIFI_STATE_ENABLED" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
                <action android:name="WIFI_DIS_DONE" />
            </intent-filter>
        </receiver>

        <activity android:name=".AddKeywords" />
        <activity android:name=".ConnectedDevices" />
        <activity android:name=".TSRsActivity" />
        <activity android:name=".OwnMessagesActivity" />
        <activity android:name=".IncentiveActivity" />
        <activity android:name=".EnrichContent" />
        <activity android:name=".EnrichContentMain" />
        <activity android:name=".LocReached" />
        <activity android:name=".NavigateActivity" />
        <!-- <activity android:name=".ListViewCheckBoxesActivity" /> -->
        <activity android:name=".Ratings" />
        <activity android:name=".RatingsMain" />
        <activity android:name=".ShowRatings" />
        <!-- <activity android:name=".WifiNetworking.WifiDiscovery" /> -->
        <activity android:name=".WifiDiscovery" />
        <activity android:name=".Settings" />
        <activity android:name=".AllRatings" />
        <activity android:name=".RelayRate" />
        <activity android:name=".EnemiesWithinAnArea" />
        <activity android:name=".EventsDemoActivity"></activity>
    </application>

</manifest>